<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Users Data Table</h2>
    <div id="data"><%- dataTableOne %></div>
    <br>
    <h2>Users Questions Table</h2>
    <table>
        <%- dataTableTwo %>
    </table> 
    <a href="data/Data.xlsx" download = "database">Excel download</a>
</body>
</html>
