<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ověření</title>
</head>
<body>
    <main>
        <div class="wrapper">
            <article>
                <p>
                    Zddejte Email pro ověření že jste zaregistrován
                </p>
            </article>
            <form action="/questions" method="post">
                <div>
                    <label for="emial">Email</label>
                    <input type="text" name="emial" id="emial">
                </div>
                <button type="submit">Odeslat</button>
            </form>
        </div>
    </main>
</body>
</html>