<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article>
        <h3>Otázka 3:</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis fugit accusantium velit deserunt in fuga sint dolore, eius eos voluptatum deleniti, reprehenderit dolor ea iure!
        </p>
    </article>
    <form action="/" method="post">
        <div>
            <label for="odpoved">Odpověď</label>
            <input type="text" name="odpoved" id="odpoved">
        </div>
    </form>
</body>
</html>