<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otázka 5.</title>
    <link rel="stylesheet" href="/css/questionsStyle.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="https://www.ssptaji.cz">
                <img src="/img/logo.png" alt="ssptaji logo">
            </a>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <article>
                <h4>Otázka 5.</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis fugit accusantium velit deserunt in fuga sint dolore, eius eos voluptatum deleniti, reprehenderit dolor ea iure!
                </p>
            </article>

            <% if(message.length > 0){ %>
                <div style="text-align: center;" class="alert alert-danger">
                    <%= message %>
                </div>
            <% } %>

            <form action="/questions/q5" method="post">
                <div>
                    <label for="email">Email kterým jste se zaregistrovali</label>
                    <input type="text" name="email" id="email">

                    <label for="odpoved">Odpověď</label>
                    <input type="text" name="odpoved" id="odpoved">
                </div>
                <button type="submit">Sublit</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="kontakt">
            <h4>Pracoviště polenská</h4>
            <p>Polenská 2, 586 01 Jihlava</p>
            <p>+420 567 584 306</p>
            <p>wackova@ssptaji.cz</p>
        </div>
    </footer>
</body>
</html>